body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin-right: 20px;
}

.header ul {
    margin-left: auto;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 20px 0 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 20px 0 0;
    padding: 10px 0;
}

button {
    background-color: #3882F6;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #F9FAF8;
}

.hero-image {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 500px;
}

.placeholder {
    color: #F9FAF8;
    
}

.hero {
    background-color: #1F2937;
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    width: 500px;
}

.info h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}

.info-text {
    color: #1F2937;
    font-size: 18px;
}

.info-image {
    width: 175px;
    height: 175px;
    border: 3px solid #3882F6;
    border-radius: 15px;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    /* margin: 0 200px; */
}

.info-text {
    width: 175px;
    text-align: center;
    padding: 10px 0;
}